.page-content h2 { 
    padding-top:25px;
    font-size: 2em;
 }
.page-content h3 { font-size: 1.5em }
.timer-settings{
     text-align: center; 
    }
.timer-settings button {
    width: 95%;
    max-width: 25em;
    margin-top:10px;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}