<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Simple Sidebar - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="static/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="static/css/simple-sidebar.css" rel="stylesheet">

</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">LockBox Settings</div>
            <div class="list-group list-group-flush">
                <a href="/" class="list-group-item list-group-item-action bg-light">Status</a>
                <a href="/open-close" class="list-group-item list-group-item-action bg-light">Set open/close time</a>
                <a href="/wifi" class="list-group-item list-group-item-action bg-light">Wifi settings</a>
                <a href="/reboot" class="list-group-item list-group-item-action bg-light">Reboot</a>
                <a href="#" id=open-box class="list-group-item list-group-item-action bg-light">Open box</a>
                <a href="#" id=close-box class="list-group-item list-group-item-action bg-light">Close box</a>
            </div>
        </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">

        <button class="navbar-toggler" id="menu-toggle" type="button">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
        {{ content|safe }}
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="static/jquery/jquery.min.js"></script>
  <script src="static/js/bootstrap.bundle.min.js"></script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('a#test').bind('click', function() {
            $.getJSON('/box-open',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
        $(function() {
          $('a#close-box').bind('click', function() {
            $.getJSON('/box-close',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>

</body>

</html>
