<style>
    @media only screen and (max-width: 1200px) {
        .countdown_card {}
    }

    .countdown_card {
        min-height: 5000px;
    }
</style>
<div class="container-fluid">
    <br>
    <div class="card-deck">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Lockbox status</h5>
                <p>
                    {% if box_status == 'closed' %}
                    The box is currently <span style="color: red; ">{{ box_status }}</span>
                    {% else %}
                    The box is currently <span style="color: green; ">{{ box_status }}</span>
                    {% endif %}</p>
                <p class="card-text">
                    {% if box_status == 'closed' %}
                    {% if open_time %}
                <p>The box will open on {{ open_time }}</p>
                {% endif %}
                {% elif box_status == 'open' %}
                {% if close_time %}
                <p>The box will close on {{ close_time }}</p>
                {% endif %}
                {% endif %}
                {% if open_time == '' and close_time == '' %}
                <p>No times have been set yet!</p>
                {% endif %}
                <a href="/open-close" class="btn btn-primary btn-sm btn-block">Go to open/close settings</a>
            </div>
        </div>
        <div class="card text-center">
            <div class="card-body">
                <br>
                <h5 class="card-title">Countdown</h5>
                <p class="card-text">the box will {{ future_box_status }} in:</p>
                <p class="card-text">
                <p id="countdown"></p>
                <!-- {{ time_left[0] }} days {{ time_left[1] }} hours {{ time_left[2] }} minutes and {{ time_left[3] }} seconds</p>-->
            </div>
        </div>
        <div class="card text-center">
            <div class="card-body">
                <br>
                <h5 class="card-title">Wifi info</h5>
                <p class="card-text">Network name: {{ wifi_ssid }}</p>
                <p class="card-text">
                    Signal strength: 100%
                </p>
            </div>
        </div>
        <div class="card text-center">
            <div class="card-body" style="margin-top:10px;">
                {% if mode == 'manual' %}
                <a href="#" id="open-box" class="btn btn-primary btn-block">Open box</a>
                <a href="#" id="close-box" class="btn btn-primary btn-block">Close box</a>
                <a href="#" id="set-friday" class="btn btn-danger btn-block">Close box till friday 18:00</a>
                {% elif mode == 'automatic' %}
                <a href="#" id="open-box" class="btn btn-primary btn-block disabled">Open box</a>
                <a href="#" id="close-box" class="btn btn-primary btn-block disabled">Close box</a>
                <a href="#" id="set-friday" class="btn btn-danger btn-block disabled">Close box till friday 18:00</a>
                {% endif %}
            </div>
        </div>
    </div>

</div>
<script type=text/javascript>
        $(function() {
          $('a#set-friday').bind('click', function() {
            $.getJSON('/set-next-friday',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>
<script>
var date_string;
{% if box_status == 'closed' %}
    date_string = '{{open_time}}';
{% elif box_status == 'open' %}
    date_string = '{{close_time}}';
{% endif %}
  if (date_string == '') {
    document.getElementById("countdown").innerHTML = "No open/close times set";
  } else {

// Set the date we're counting down to
var countDownDate = new Date(date_string).getTime();
// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();

  // Find the distance between now and the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Display the result in the element with id="demo"
  document.getElementById("countdown").innerHTML = days + " days " + hours + " hours "
  + minutes + " minutes " + seconds + " seconds ";

  // If the count down is finished, write some text
  if (distance < 0) {
    document.getElementById("countdown").innerHTML = "No open/close times set";
    clearInterval(x);
  }
}, 1)};
</script>
