<div class="container-fluid">
    <h1 class="mt-1">Wifi settings</h1>
    {% if alert %}
    <div class="alert alert-{{alert_type}}" role="alert">
        {{ alert }}
    </div>
    {% endif %}
    <h8>For these changes to take effect you a reboot of the LockBox is needed</h8>

    <hr>
    <h3>Wifi network name</h3>
    <label for="wifi_ssid">Select list (select one):</label>
    <select class="form-control" id="wifi_ssid">
        {% for ssid in ssid_list %}
        <option>{{ ssid }}</option>
        {% endfor %}
    </select>
    <!--<input class="form-control" type="text" id="wifi_ssid" placeholder="{{wifi_ssid}}">-->
    <hr>
    <h3>Wifi network password</h3>
    <input class="form-control" type="text" id="wifi_wpa2" placeholder="{{wifi_wpa2}}">
    <hr>
    <button type="button" id="save" class="btn btn-success btn-block">Save</button>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Wifi settings saved</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                The LockBox has to reboot for these changes to have effect. <br> Reboot now?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a href="/reboot-device-loader" class="btn btn-danger ">Reboot</a>
            </div>
        </div>
    </div>
</div>
</div>

<script type=text/javascript>
    $(function () {
        $('button#save').bind('click', function () {
            var ssid = $("#wifi_ssid").val();
            var wpa = $("#wifi_wpa2").val();
            // $('#exampleModal').modal('show');

            $.ajax('/set-wifi?ssid=' + ssid + '&wpa2=' + wpa, {
                success: function (response) {
                    console.log(response)
                    //changed original code from ".html(response)" to ".html(response.sentence)"
                    $('#alert').html(response).fadeIn();
                    $('#alert').show();

                }
            })
            return false;
        });
    });
</script>
